{% extends 'main/base.html' %} 

{% block content %}
    <table class="avatar">
        <td>
            <p><img src="{{ user.userprofile.avatar.url }}"/></p>
        </td>
        <td>
            <p>{{user}}</p>
            Дата регистрации: {{user.date_joined}}
        </td>
    </table>

    <div class="form-error">{{form.non_field_errors}}</div>

    <form id="user-info" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <p><label>Изменить фото: </label>{{ profile_form.avatar }}</p> 
        <p><label>Имя пользователя: </label>{{ user_form.username }}</p>
        {% if user_form.errors %}
            <div class="form-error">
                {% for key, value in user_form.errors.items %}
                    {{ value }}
                {% endfor %}
            </div>
        {% endif %}
        <button type="submit">Сохранить</button>
    </form>
    
    <br>
    <hr>

    <form id="user-password" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for f in password_form %}
            <p><label class="form-label" for="{{f.id_for_label}}">{{f.label}}: </label>{{f}}</p>
            <div class="form-error">{{f.errors}}</div>
        {% endfor %}
        <button type="submit">Изменить пароль</button>
    </form>
{% endblock content %}

{% block form-block %} 
{% endblock %}